/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 1);
}

html {
  overflow: auto;
  overflow-x: hidden;
}

body {
  width: 100vw;
}

.v-toolbar.top-bar {
  width: 100vw;
}

.alert-container .snack {
  position: static;
  margin-top: 10px;
}
.alert-container .snack__content {
  justify-content: normal !important;
  height: auto;
  padding: 0;
}
input.ghost {
  border: solid 1px transparent;
  transition: all 0.6s;
}
input.ghost:focus {
  outline: transparent;
  border: solid 1px #26a69977;
  border-radius: 10px;
}

.btn__fill-height {
  height: 100%;
  margin: 0;
}
