/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(160, 160, 193, 0.263);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(160, 160, 193, 0.563);
}

.alert-container .snack{
  position: static;
  margin-top: 10px;
}
.alert-container .snack__content{
  justify-content: normal !important;
  height: auto;
  padding: 0;
}