// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Icons 
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Vuetify
@import '~vuetify/dist/vuetify';

// Variables
@import "overwrites";

[v-cloak]{
    display: none;
}

.capitalize{
    text-transform: capitalize;
}

.padded{
    padding: 10px;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.absolute{
	position: absolute;
}

.bottom{
    bottom: 16px;
}

.left{
    left: 16px;
}

.right{
    right: 16px;;
}

img{
	max-width: 100%;
	object-fit: cover;
}

.card img{
	width: 100% !important;
	height: 200px !important;
}

.header-from-builder img{
	width: 100% !important;
	height: 100% !important;
	opacity: .3;
}

.header-from-builder{
	min-height: 546px; 
	width: 100%; 
	overflow: hidden; 
	background-image: linear-gradient(45deg, #323a47 0%,#2b3038 33%,#3b4758 51%);
}

.post-page .container, .post-blog .container{
	max-width: 900px;
}

@media (max-width: 600px) {
	.header-from-builder{
		min-height: 35vh;
	}
}
