// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Icons 
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Vuetify
@import '~vuetify/dist/vuetify';

// Variables
@import "overwrites";

[v-cloak]{
    display: none;
}

.capitalize{
    text-transform: capitalize;
}

.padded{
    padding: 10px;
}

.fixed{
    position: fixed;
}

.relative{
    position: relative;
}

.bottom{
    bottom: 16px;
}

.left{
    left: 16px;
}

.right{
    right: 16px;;
}
