// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Vuetify
@import "~vuetify/dist/vuetify";

// Variables
@import "overwrites";

// SVGs
@import "svgs";

[v-cloak] {
  display: none;
}

.ql-size-large {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.post-content p {
  margin-bottom: 3px;
}
.post-content {
  width: 70%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .post-content {
    width: 95%;
  }
}

.scroll-100px {
  max-height: 100px;
  overflow: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  .scroll-100px {
    max-height: 300px;
  }
}

.scroll-180px {
  max-height: 180px;
  overflow: auto;
}
@media only screen and (max-width: 600px) {
  .scroll-180px {
    max-height: 300px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.padded {
  padding: 10px;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom {
  bottom: 16px;
}

.left {
  left: 16px;
}

.right {
  right: 16px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.card img {
  width: 100% !important;
  height: 200px !important;
}

.header-from-builder img {
  width: 100% !important;
  height: 100% !important;
  opacity: 0.3;
}

.header-from-builder {
  min-height: 546px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    45deg,
    #323a47 0%,
    #2b3038 33%,
    #3b4758 51%
  );
}
.post-page .container,
.post-blog .container {
  max-width: 900px;
}
.fvw {
  width: 100vw;
}
.fch {
  height: 100%;
}
.fvh {
  height: 100vh;
}
.swatch {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}
.task-description a {
  color: white !important;
}
@media (max-width: 600px) {
  .header-from-builder {
    min-height: 35vh;
  }
}
